.navbar {
  background-color: red;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 36px;
  width: 980px;
}

.search-links {
    display: flex;
    justify-content: space-around;
}

.menu-button a {
  font-family: 'Poppins', sans-serif;
  color: #e4e4e4;


}

.search {
    width: 103px;
    height: 15px;
}

.apple-logo {

  width: 20px;
  height: 20px;
}

.menu-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    width: 103px;
    height: 34px;

}